@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe|Sanchez|Kalam);

html, html a {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
}

.parent-element {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.centered{
	width: 100%;
	position: relative;
    /*top: 50%;
    transform: translateY(-50%);*/
	padding-top:20px;
    margin: 0 auto;
	text-align:center;
}

.numbers {	
	font-family: 'Sanchez', serif;
	font-size: 21.75em;	
	text-align:center;
	max-width:90%;	
}

.title {	
	font-family: 'Sanchez', serif;
	font-size: 1.25em;	
	text-align:center;
	color:#FFF;	
	line-height:2em;
}

.names {
	font-family: 'Mr Dafoe', cursive;
	font-size: 2.25em;	
	text-align:center;
	color:#FFF;
		
}

.middle {
	font-family: 'Mr Dafoe', cursive;
	font-size: 2.75em;		
	text-align:center;
	color:#FFF;		
}

.middle-irvin{		
	font-family: 'Sanchez', serif;
	font-size: 5em;	
	text-align:center;	
	letter-spacing:-14px;
}

.aka{
	font-family: 'Kalam', cursive;
	font-size: 1.5em;	
	text-align:center;
	color:#FFF;	
	line-height: normal;
}

.below-numbers{
	font-family: 'Sanchez', serif;
	font-size: 1.75em;	
	text-align:center;
	color:#FFF;
	
}

.bg-dark-blue{
	background-color: #63778B;
}

.dark-blue{color:#63778B;}
.med-blue{color:#6EB4B5;}
.light-blue, .five{color:#94D2C6;}
.light-green, .three{color:#e2d0b9;}
.light-orange{color:#EFA45F;}
.light-pink, .two{color:#F59D95;}
.dark-pink{color:#D26471;}

.five-bg{
	background-color:#6EB4B5;
	width:70%;
	margin:0 auto;	
}

.two-bg{
	background-color:#D26471;
	width:70%;
	margin:0 auto;	
}

.three-bg{
	background-color:#EFA45F;
	width:70%;
	margin:0 auto;	
}

.scale-image
{
display: block;
width: auto;
max-width: 75%;
margin:0 auto;
}

.facebook{color:#3B5998;}
.twitter-bg{color:#0084b4;}
.twitter-fg{color:#4099FF;}

.pinterest{color:#C92228;}
.linkedin{color:#03659A;}
.white{color:#FFF;}

