<md-content class="md-hue-1" id="popupContainer">
  <div layout="row">
    <div flex></div>
    <div flex-sm="95" flex-md="85" flex-lg="70" flex-xl="50">
      <div layout="row">
        <div flex></div>
        <div flex="95">
          <div layout="row" layout-align="center center">
            <img src="images/fivetwothree.png" alt="">
          </div>
          <div layout="row" layout-align="center center">
            <span class="light" contenteditable="true">
              <h2>{{welcomeHeader}}</h2>              
              <p>{{welcomeMessage}}</p>
              <h2>{{whatHeader}}</h2>
              <p>{{whatMessage}}</p>
              <h2>{{thanksHeader}}</h2>
              <p>{{thanksMessage}}</p>
             </span>
          </div>
        </div>
        <div flex></div>
      </div>
      <div layout-gt-md="column" layout-sm="column" layout-md="column">
        <div flex>
          <md-card md-whiteframe="5" class="card light-bg" md-theme="default" md-theme-watch style="background-color:#fff">
            <md-card-content layout="row" layout-align="space-between">
              <md-whiteframe class="md-whiteframe-7dp" layout layout-align="center center"><img src="images/2JBcard.png"></md-whiteframe>
            </md-card-content>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Two Jelly Beans</span>
                <span class="md-subhead">This is where the Mr and the Mrs talk about our fun-filled life, the things we create, the places we explore, and the many things we've collected over the years.
                  <br><md-button ng-attr-width="100%" ng-href="http://twojellybeans.com" style="color: #6EB4B5" layout layout-align="center center">twojellybeans.com</md-button></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row">
              <md-button class="md-fab md-mini" aria-label="Facebook" ng-href="http://facebook.com/twojellybeanswebsite" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-facebook-official light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Facebook
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Twitter" ng-href="http://twitter.com/two_jelly_beans" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-twitter light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Twitter
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Instagram" ng-href="http://instagram.com/two.jelly.beans" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-instagram light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Instagram
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Pinterest" ng-href="http://pinterest.com/two_jelly_beans" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-pinterest-p light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Pinterest
                </md-tooltip>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>

      </div>
      <div layout-gt-md="row" layout-sm="column" layout-md="row">
        <div flex>
          <md-card md-whiteframe="3" class="card" md-theme="default" md-theme-watch style="background-color:#fff">
            <md-card-content layout="row" layout-align="space-between">
              <md-whiteframe class="md-whiteframe-7dp" layout layout-align="center center">
                <img src="images/RDcard.png">
              </md-whiteframe>
            </md-card-content>
            <md-card-title>
              <md-card-title-text flex>
                <span class="md-headline">Rainiedazze Design</span>
                <span class="md-subhead">Kelly Irvin, aka Rainiedazze (pronounced rainy days), is a seasoned graphic designer. Here you will find her personal website, including her design portfolio. It's puddles of fun!
                  <br><md-button ng-attr-width="100%" ng-href="http://rainiedazze.com" style="color: #6EB4B5" layout layout-align="center center">rainiedazze.com</md-button> </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row">
              <md-button class="md-fab md-mini" aria-label="Facebook" ng-href="http://facebook.com/rainiedazze" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-facebook-official light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Facebook
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Twitter" ng-href="http://twitter.com/rainiedazze" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-twitter light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Twitter
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Etsy" ng-href="http://etsy.com/shop/rainiedazze" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-shopping-bag light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Etsy
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Pinterest" ng-href="http://pinterest.com/rainiedazze" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-pinterest-p light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Pinterest
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Instagram" ng-href="http://instagram.com/rainiedazze" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-instagram light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Instagram
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Tumblr" ng-href="http://rainiedazze.tumblr.com/" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-tumblr light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Tumblr
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="LinkedIn" ng-href="http://linkedin.com/in/kellynirvin/" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-linkedin light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Linkedin
                </md-tooltip>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex>
          <md-card md-whiteframe="5" class="card" md-theme="default" md-theme-watch style="background-color:#fff">
            <md-card-content layout="row" layout-align="space-between">
              <md-whiteframe class="md-whiteframe-7dp" layout layout-align="center center">
                <img src="images/JIcard.png">
              </md-whiteframe>
            </md-card-content>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Jonathan Irvin</span>
                <span class="md-subhead">This is my personal blog where get to talk about all sorts of things.  It is my little slice of the internet.  I get to talk about what I want especially if it is geeky things.   &nbsp;
                  <br><md-button ng-attr-width="100%" ng-href="http://jonathanirvin.com" style="color: #6EB4B5" layout layout-align="center center">jonathanirvin.com</md-button> </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row">
              <md-button class="md-fab md-mini" aria-label="Facebook" ng-href="http://facebook.com/jonathan.w.irvin" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-facebook-official light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Facebook
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Twitter" ng-href="http://twitter.com/sublimegeek" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-twitter light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Twitter
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Etsy" ng-href="http://etsy.com/shop/JonathanIrvinDesign" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-shopping-bag light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Etsy
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Pinterest" ng-href="http://pinterest.com/sublimegeek" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-pinterest-p light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Pinterest
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Instagram" ng-href="http://instagram.com/sublimegeek" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-instagram light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Instagram
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="LinkedIn" ng-href="http://linkedin.com/in/jonathanirvin/" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-linkedin light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Linkedin
                </md-tooltip>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
      <div layout-gt-md="row" layout-sm="column" layout-md="row">
        <!-- Two Column -->
        <div flex>
          <md-card md-whiteframe="5" class="card light-bg" md-theme="default" md-theme-watch style="background-color:#fff">
            <md-card-content layout="row" layout-align="space-between">
              <md-whiteframe class="md-whiteframe-7dp" layout layout-align="center center">
                <img src="images/LSScard.png">
              </md-whiteframe>
            </md-card-content>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Lone Star Struck</span>
                <span class="md-subhead">A Fanatical Place for Dallas Cowboys fans.  Originally started by the one and only Kelly Irvin.
                  <br><md-button ng-attr-width="100%" ng-href="http://lonestarstruck.com" style="color: #6EB4B5" layout layout-align="center center">lonestarstruck.com</md-button></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row">
              <md-button class="md-fab md-mini" aria-label="Facebook" ng-href="http://facebook.com/lonestarstruck" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-facebook-official light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Facebook
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Twitter" ng-href="http://twitter.com/lonestarstruck" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-twitter light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Twitter
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Google Plus" ng-href="https://plus.google.com/communities/103857218937038384075/" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-google-plus light light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Google Plus
                </md-tooltip>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex>
          <md-card md-whiteframe="5" class="card light-bg" md-theme="default" md-theme-watch style="background-color:#fff">
            <md-card-content layout="row" layout-align="space-between">
              <md-whiteframe class="md-whiteframe-7dp" layout layout-align="center center">
                <img src="images/SGcard.png">
              </md-whiteframe>
            </md-card-content>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Sublime Geek</span>
                <span class="md-subhead">If you're a business or individual that needs a website, logo, or just needs to make IT happen, check us out.
                <br><md-button ng-attr-width="100%" ng-href="http://sublimegeek.com" style="color: #6EB4B5" layout layout-align="center center">sublimegeek.com</md-button></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row">
              <md-button class="md-fab md-mini" aria-label="Facebook" ng-href="http://facebook.com/sublimegeek" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-facebook-official light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Facebook
                </md-tooltip>
              </md-button>
              <md-button class="md-fab md-mini" aria-label="Twitter" ng-href="http://twitter.com/sublimegeek" ng-attr-target="_blank" md-whiteframe="3">
                <i class="fa fa-twitter light" aria-hidden="true"></i>
                <md-tooltip md-direction="top">
                  Twitter
                </md-tooltip>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>

      <div layout="row">
        <div flex></div>
        <div class="footer">
          <div class="container light">
            <p>Copyright &copy; 2012-2016. All Rights Reserved. Made with <i class="material-icons">favorite</i> by the Irvins</p>
          </div>
        </div>
        <div flex></div>
      </div>
    </div>
    <div flex></div>
  </div>
</md-content>